<ol>
  <% @comments.each do |comment| %>
  <div>
  <li><%= comment.body if !comment.body.blank? %></li>
  <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
  <% end %>
</ol>
